{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <body>
	<h1>About Rango</h1>
	<div>
	    here is the about page. <br/>
	    Visits: {{ visit_count }}<br/>
	    Number of visits to this page: <strong>{{ visit_count }}</strong>
	</div>
	<div>
	    	<img src="{{ MEDIA_URL }}cat.jpg" 
	         alt="A picture of a cat" />
		<br>
		<img src="{% static "images/cat1.jpg" %}" alt="Second cat" />
	</div>
	<div> 
	    This tutorial has been put together by William Kirrage.
    </body>
{% endblock %}
